.container {
    min-height: 811px;
    display: flex;
    justify-content: center;
    gap: 44px;
    align-items: center;
    margin: 80px;
    margin-top: -120px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

.textWrapper h2 {
    color: var(--primary);
    font-weight: 800;
    font-size: 56px;
    line-height: 110%;
    max-width: 550px;
    min-width: 550px;
    margin-bottom: -56px;
}

.textWrapper h2::after {
    content: "";
    background-image: url(/assets/plane-departure.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    position: relative;
    bottom: 165px;
    left: 69%;
    display: flex;
    width: 60px;
    height: 60px;
}

.textWrapper p {
    color: var(--primary);
    font-size: 20px;
    line-height: 180%;
    font-weight: 400;
    max-width: 590px;
}

.textWrapper a {
    color: #2563EB;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    gap: 16px;
}

.arrowBlue {
    max-width: 630px;

}

.internationalImage {
    max-width: 620px;
}

@media(max-width: 1360px) {
    .container {
        flex-direction: column;
        margin-top: 0;
    }

    .textWrapper {
        order: 1;
    }

    .imageWrapper {
        order: 2;
    }
}

@media(max-width: 768px) {
    .container {
        margin-right: 16px;
        margin-left: 16px;
        align-items: flex-start;
        margin-top: -120px;
    }

    .textWrapper {
        align-items: baseline;
        width: 100%;
    }

    .textWrapper h2 {
        font-size: 24px;
    }

    .textWrapper p,
    .textWrapper a {
        font-size: 16px;
    }

    .textWrapper h2:after {
        background-repeat: no-repeat;
        position: relative;
        bottom: 44px;
        left: 30%;
        background-size: 24px;
    }

    .internationalImage {
        max-width: 360px;
    }

    .imageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .textWrapper h2 {
        max-width: 310px;
        min-width: 310px;
        width: 310px;
    }

    .container {
        margin-top: -112px;
        gap: 32px
    }

    .textWrapper h2:after {
        bottom: 70px;
        left: 53.5%;
    }
}

@media (max-width: 390px) {

    .internationalImage {
        max-width: 335px;
    }
}