.container {
    min-height: 575px;
    position: relative;
    background-color: #FACC15;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.textWrapper {
    margin: 125px 0px 152px 152px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 528px;
    position: relative;
}

.textWrapper p {
    color: var(--primary);
    font-size: 24px;
    line-height: 160%;
    font-weight: 400
}

.textWrapper p:last-child {
   font-weight: 700;
}

.paginationIcon {
    width: 96px;
    height: 10px;
    margin-top: 10px;
}

.imageWrapper {
    margin-top: -50px;
    margin-bottom: -50px;
    display: flex;
    align-items: center;
    margin-right: 73px;
    position: relative;
}

.marieImage {
    object-fit: cover;
    height: auto;
    max-height: 705px;
    position: relative;
    right: 0%;
    top: 30px;
}
.textWrapper::before {
    content: "";
    background-image: url(/assets/chevron-back.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 46%;
    left: -60px; 
}

.imageWrapper::after {
    content: "";
    background-image: url(/assets/chevron-forward.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 46%;
    right: 0%;
}

@media (max-width: 1360px) {
    .container {
        gap: 20px;
    }
}

@media (max-width: 1280px) {
    .container {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .textWrapper::before,
    .imageWrapper::after {
        display: none;
    }

    .textWrapper {
        margin: 125px 0 20px 0;
    }
}


@media (max-width: 768px) {
    .textWrapper p {
        font-size: 16px;
    }

    .container {
        align-items: flex-start;
        padding: 48px 16px;
    }

    .imageWrapper {
        margin-right: 0px;
    }

    .textWrapper {
        margin: 0 0 20px;
    }

    .marieImage {
        max-height: 550px;
        width: 100%;
        top: 20px;
    }
}

@media (max-width: 480px) {
    .marieImage {
        width: 445px;
        max-height: 551px;
        top: 8px;
        right: 6%;
    }

    .container {
        height: 684px;
    }

    .textWrapper p:last-child {
        font-weight: 500;
    }
}



